apiKey=AIzaSyCLpcY33wK65tb0zUetgrxUVmq7_koqcx8
authDomain=acts-youth.firebaseapp.com
projectId=acts-youth
storageBucket=acts-youth.firebasestorage.app
messagingSenderId=842764600420
appId=1:842764600420:web:14dab89ddba757422ccb71
measurementId=G-F117VNF537





  
